@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-9">
        <h1>The Rebel Flesh</h1>
        <p>The way I see it, every life is a pile of good things and bad things.&hellip;hey.&hellip;the good things don't always soften the bad things; but vice-versa the bad things don't necessarily spoil the good things and make them unimportant. I am the Doctor, and you are the Daleks! I hate yogurt. It's just stuff with bits in. I am the last of my species, and I know how that weighs on the heart so don't lie to me!</p>
        <h2>The Empty Child</h2>
        <p>They're not aliens, they're Earth&hellip;liens! Annihilate? No. No violence. I won't stand for it. Not now, not ever, do you understand me?! I'm the Doctor, the Oncoming Storm - and you basically meant beat them in a football match, didn't you? They're not aliens, they're Earth&hellip;liens! I'm the Doctor. Well, they call me the Doctor. I don't know why. I call me the Doctor too. I still don't know why.</p>
        <ul>
            <li>Stop talking, brain thinking. Hush.</li>
            <li>It's art! A statement on modern society, 'Oh Ain't Modern Society Awful?'!</li>
            <li>No, I'll fix it. I'm good at fixing rot. Call me the Rotmeister. No, I'm the Doctor. Don't call me the Rotmeister.</li>
            <li>I hate yogurt. It's just stuff with bits in.</li>
        </ul>
        <h3>Fear Her</h3>
        <p>It's art! A statement on modern society, 'Oh Ain't Modern Society Awful?'! No, I'll fix it. I'm good at fixing rot. Call me the Rotmeister. No, I'm the Doctor. Don't call me the Rotmeister. The way I see it, every life is a pile of good things and bad things.&hellip;hey.&hellip;the good things don't always soften the bad things; but vice-versa the bad things don't necessarily spoil the good things and make them unimportant.</p>
        <h4>The Lodger</h4>
        <p>I'm the Doctor. Well, they call me the Doctor. I don't know why. I call me the Doctor too. I still don't know why. It's a fez. I wear a fez now. Fezes are cool. They're not aliens, they're Earth&hellip;liens! I am the Doctor, and you are the Daleks! I am the Doctor, and you are the Daleks! Heh-haa! Super squeaky bum time!</p>
        <ol>
            <li>I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship.</li>
            <li>They're not aliens, they're Earth&hellip;liens!</li>
            <li>The way I see it, every life is a pile of good things and bad things.&hellip;hey.&hellip;the good things don't always soften the bad things; but vice-versa the bad things don't necessarily spoil the good things and make them unimportant.</li>
            <li>The way I see it, every life is a pile of good things and bad things.&hellip;hey.&hellip;the good things don't always soften the bad things; but vice-versa the bad things don't necessarily spoil the good things and make them unimportant.</li>
            <li>I am the last of my species, and I know how that weighs on the heart so don't lie to me!</li>
        </ol>
    </div>
</div>