
@{
    ViewBag.Title = "ListClassMates";
}

<h2>ListClassMates</h2>
    <dl>
    <dt>Name:</dt>
        <dd>Aaron Hudson</dd>
        <dd>David Plate</dd>
        <dd>Brandon Goza</dd>
        <dd>Mike Null</dd>
        <dd>Scott Ferguson</dd>
        <dd>Jason Williams</dd>
    </dl>

